<div class="container-fluid form-background text-light" style="padding-bottom:2.5rem">

  <h5 class="form-heading">Desktop Issue Request</h5>
  
  <div class="row ">
    Please provide detail description
  </div>
  <div class="row" style="height:30px;"></div>
  <div *ngIf="(request != 'new')" class="row" id="descriptionbox">
    <div class="col-md-9 mb-9 mt-9">
      <!--<label for="validationServer05">Descritpion</label>-->
      <textarea style="height:250px" class="form-control is-invalid" [(ngModel)]="description" id="validationServer05" name="description"
        placeholder="Descritpion" required> </textarea>
    </div>
  </div>

  <div class="row" style="height:30px;"></div>
  <!--<div *ngIf="this.desktopissue.entity === 'system'">-->

  <div class="row">
    In your openion how sever is your problem?
  </div>
  <div class="row" style="height:10px;"></div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="cpu" checked>
       Criticl(Not able to access system)
      </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="monitor">
        High(Highly impact produtivity)
        </label>
  </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="monitor">
        Medium(Medium impact)
        </label>
  </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="monitor">
        Low(Not an urgent)
        </label>
  </div>

  <div class="row" style="height:30px;"></div>
  <div *ngIf="!isSubmitted" class="row">
    <div class="col-12">
      <button class="btn btn-success pull-right !important" (click)="desktopSubmit()" style="float:center" type="submit">Done..</button>
    </div>
  </div>
</div>