<nav class="navbar navbar-fixed-top navbar-light bg-light cuppa-slide-left-margin">
  <div class="container-fluid">
    <div class="navbar-header d-flex w-100">
     <table>
       <tbody>
         <tr>
           <td class="align-middle">
      <cuppa-slidemenu [menulist]="menuItemsArray" (open)="onMenuOpen()" (close)="onMenuClose()"></cuppa-slidemenu>
           </td>
     <td class="align-middle w-50% h-25%">
         <img alt="Brand" class="cuppa-left-margin" src="assets/img/cuppa-logo.png">
     </td>
      <td class="align-middle">
        <span class="text-nowrap">IT Service Desk Menu</span>
      </td>
      <td class="align-middle">
        <span class="fill-remaining-space"></span>
      <button type="button " class="btn btn-link">
         <!-- <img  class="logout-img" src="assets/img/logout3.png"/>-->
         <span class="fa fa-2x fa-sign-out align-right"></span>
      </button>
      </td>
         </tr>
       </tbody>
     </table>
    </div>
  </div>
</nav>
<div class="container-fluid app-body">
  <router-outlet></router-outlet>
</div>