<div class="container-fluid">
     <h3 class="form-heading">Desktop Issue Request Form</h3>
<form>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Asset Id</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="Asset Id" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer04">Severity</label>
      <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="Severity" required>
    </div>
  </div>
   <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Category</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="Category" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer04">Sub Category</label>
      <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="Sub Category" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Subject</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="Subject" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer04">Date</label>
      <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="Date" required>
      
    </div>
	</div>
	<div class="row">
    <div class="col-md-9 mb-9 mt-9">
      <label for="validationServer05">Descritpion</label>
	  <textarea class="form-control is-invalid" id="validationServer05" placeholder="Descritpion" required> </textarea>
      </div>
  </div>
  <div class="row" style="height:30px;"></div>
  

  <button class="btn btn-primary spacing" type="submit">Submit</button>
</form>
</div>