<div *ngIf="this.desktopissue.longDescReqd === 'yes' && !isSecondPage" class="container-fluid form-background text-light"
  style="padding-bottom:2.5rem">

  <h5 class="form-heading ">Desktop Issue Request</h5>
  <div *ngIf="this.desktopissue.longDescReqd === 'yes'">
    <div class="row ">
      Please provide detail description
    </div>
    <div class="row" style="height:40px;"></div>
    <div *ngIf="request != 'new'" class="row" id="descriptionbox">
      <div class="col-md-9 mb-9 mt-9">
        <!--<label for="validationServer05">Descritpion</label>-->
        <textarea style="height:300px" class="form-control is-invalid" [(ngModel)]="description" id="validationServer05" name="description"
          placeholder="Long Descritpion" required> </textarea>
      </div>
    </div>
  </div>
  <div class="row" style="height:20px;"></div>
  <div class="row text-center">
    <div class="col-12">
      <button class="btn btn-success" (click)="desktopQSKSubmit()" type="submit"> Next ...</button>
    </div>
  </div>
</div>


<div *ngIf="isSecondPage && !this.desktopissue.submitted === 'yes'" class="container-fluid form-background text-light" style="padding-bottom:2.5rem">
  <h5 class="form-heading ">Desktop Issue Request</h5>
  <div class="row" style="height:20px;"></div>

  <div class="row">
    In your openion how sever is your problem?
  </div>
  <div class="row" style="height:50px;"></div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="critical" checked>
       Criticl(Not able to work at all)
      </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="high">
        High(Highly impact produtivity)
        </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="medium">
        Medium(Medium impact)
        </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="low">
        Low(Not an urgent)
        </label>
  </div>
  <div class="row" style="height:30px;"></div>
  <div class="row text-center">
    <div class="col-12">
      <button class="btn btn-success" (click)="desktopQSKSubmit()" type="submit">Done</button>
    </div>
  </div>
</div>


<div *ngIf="this.desktopissue.longDescReqd === 'no' && this.desktopissue.submitted === 'no'" class="container-fluid form-background text-light"
  style="padding-bottom:2.5rem">
  <h5 class="form-heading ">Desktop Issue Request</h5>

  <div class="row" style="height:20px;"></div>
  <div class="row ">
    No worries, I will consider your brief description as the detailed narraion of the problem
  </div>

  <div class="row" style="height:20px;"></div>

  <div class="row">
    In your openion how sever is your problem?
  </div>
  <div class="row" style="height:20px;"></div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="critical" checked>
       Criticl(Not able to work at all)
      </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="high">
        High(Highly impact produtivity)
        </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="medium">
        Medium(Medium impact)
        </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="low">
        Low(Not an urgent)
        </label>
  </div>
  <div class="row" *ngIf="this.desktopissue.longDescReqd === 'no'" style="height:20px">
  </div>
  <div class="row" style="height:30px;"></div>
  <div class="row text-center">
    <div class="col-12">
      <button class="btn btn-success" (click)="desktopQSKSubmit()" type="submit">Done</button>
    </div>
  </div>
</div>




<div *ngIf="this.desktopissue.submitted === 'yes'" class="container-fluid form-background text-light" style="padding-bottom:2.5rem">
  <h5 class="form-heading ">Desktop Issue Request</h5>

  <div class="row" style="height:20px;"></div>
  <div class="row ">
    Ticket have been created. You can use below ticket number for future reference
  </div>
  <div class="row" style="height:20px;"> </div>
    <div class="row center text-center">
    <span> Ticket No :  </span>
    <span [innerHTML]="desktopissue.ticketNo"></span>
    </div>
  </div>
  <div class="row" style="height:20px;">
</div>