<div *ngIf="isNewForm"  class="container-fluid form-background text-light">

  <h5 class="form-heading">Desktop Issue Request Form</h5>
  
<!--  <form>-->
    <div class="row ">
      Can you elobrate your issue for the system
      <inline-editor type="text" [(ngModel)]="asset" (onSave)="saveEditable()" name="asset" size="10"></inline-editor>
    </div>
    <div class="row" style="height:30px;"></div>
    <div *ngIf="request != 'new'" class="row" id="descriptionbox">
      <div class="col-md-9 mb-9 mt-9">
        <!--<label for="validationServer05">Descritpion</label>-->
        <textarea class="form-control is-invalid" [(ngModel)]="description" id="validationServer05" name="description" placeholder="Descritpion"
          required> </textarea>
      </div>
    </div>

    <div class="row" style="height:30px;"></div>
    <div *ngIf="!isSubmitted" class="row">
      <div class="col-12">
        <button class="btn btn-primary pull-right !important" (click)="desktopSubmit()" style="float:right" type="submit">Continue..</button>
      </div>
    </div>
    
</div>
<div *ngIf="isSubmitted" class="container-fluid form-background text-light">
    <deskqs [desktopissue]= "desktopissue"></deskqs>
  </div>


