.form-background{
    margin-top : 10rem;
    background-color:lightcyan;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium';

}

 .caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .thumbnail {
        border: 1rem;
        box-shadow:darkblue;
        margin:3rem;
        padding:0;
        background-color: lightblue
    
        

    }

    .caption h4 {
        color: #fff;
        -webkit-font-smoothing: antialiased;
    }

    .img-size{
        height: 25rem !important;
        
    }