<div>
        <h3 class="form-heading">System / Application Issues</h3>


        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-responsive" src="assets/img/headericons/computer_img1.png">
                        <div class="caption">
                                <h4>Desktop Issue</h4>
                        </div>
                </div>
        </a>

        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-responsive" src="assets/img/headericons/hardware_img1.png">
                        <div class="caption">
                                <h4>Hardware Issue</h4>
                        </div>
                </div>
        </a>
        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-responsive" src="assets/img/headericons/printer_img1.png">
                        <div class="caption">
                                <h4>Printer Issue</h4>
                        </div>
                </div>

        </a>
</div>