<div>
        <h3 class="form-heading">Hardware Request & Issues</h3>


        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-responsive" src="assets/img/headericons/computer_img1.png">
                        <div class="caption">
                                <h4>Desktop Request & Issue</h4>
                        </div>
                </div>
        </a>

        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-responsive" src="assets/img/headericons/laptop-icon1.png">
                        <div class="caption">
                                <h4>Laptop Request & Issue</h4>
                        </div>
                </div>
        </a>
        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-responsive" src="assets/img/headericons/printer_img1.png">
                        <div class="caption">
                                <h4>Printer Request & Issue</h4>
                        </div>
                </div>

        </a>
</div>