<div class="form-background d-flex">
        <div class="container sysapp-container">
                <h4 class="card-title text-light mt-4 mb-4">Hardware Request & Issues</h4>

                <div class="card align-items-center mb-3">
                        <img class="card-img-top w-75" src="assets/img/headericons/computer_img1.png" alt="Card image cap">
                        <div class="card-img-overlay card-right-left-auto d-flex flex-column justify-content-end align-self-center">
                                <h5 class="card-text mb-20">Desktop Issues</h5>
                        </div>
                </div>

                <div class="card justify-content-center align-items-center">
                        <img class="card-img-top w-75" src="assets/img/headericons/laptop-icon1.png" alt="Card image cap">
                        <div class="card-body">
                                <h5 class="card-text">Laptop Request</h5>
                        </div>
                </div>
        </div>
<!--                <div class="card card-inverse">
                        <img class="card-img" src="..." alt="Card image">
                        <div class="card-img-overlay">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                                        This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                </div>-->

        <!--
        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-fluid img-thumbnail h-100" src="assets/img/headericons/computer_img1.png">
                        <div class="caption">
                                <h4>Desktop Request & Issue</h4>
                        </div>
                </div>
        </a>

        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-fluid img-thumbnail h-100" src="assets/img/headericons/laptop-icon1.png">
                        <div class="caption">
                                <h4>Laptop Request & Issue</h4>
                        </div>
                </div>
        </a>
        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-fluid img-thumbnail h-100" src="assets/img/headericons/printer_img1.png">
                        <div class="caption">
                                <h4>Printer Request & Issue</h4>
                        </div>
                </div>

        </a>
</div>

<div class="form-background">
        <h3 class="form-heading">Software / Application Request & Issues</h3>


        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-fluid img-thumbnail h-100" src="assets/img/headericons/new_sw_install1.png">
                        <div class="caption">
                                <h4>New Software Installation</h4>
                        </div>
                </div>
        </a>

        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-fluid img-thumbnail h-100" src="assets/img/headericons/Software Issue Request.png">
                        <div class="caption">
                                <h4>Software Issue Request</h4>
                        </div>
                </div>
        </a>
        <a class="brand" routerLink="/desk">
                <div class="col-sm-12 thumbnail text-center">
                        <img alt="" class="img-fluid img-thumbnail h-100" src="assets/img/headericons/Report Security Problem.png">
                        <div class="caption">
                                <h4>Report Security Problem</h4>
                        </div>
                </div>

        </a>-->
</div>